
$colorGraySchema: rgba(55, 53, 47, 0.08);
$colorBeigeSchema: #fff9f3;
$grey-1: #bfbfbf;
$black-1: #f7f6f3;
$black-2: #e7e7e3;
$black-5: #2d3036;
$black-6: #000;

:root {
    --colorGraySchema: rgba(55, 53, 47, 0.08);
    --colorBeigeSchema: #fff9f3;
    --grey-1: #bfbfbf;
    --black-1: #f7f6f3;
    --black-2: #e7e7e3;
    --black-3: rgba(55, 53, 47, 0.4);
    --black-4: #9a9082;
    --black-5: #2d3036;
    --black-6: #000;
}